<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <title>FirstMap ::: Naver Map API Study</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script src="https://unpkg.com/jquery"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8d03a6f9e8b5d1f0c76c329a3a5d1d40&libraries=services"></script>
    <script
      type="text/javascript"
      src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=qudu899a61"
    ></script>
    <script src="/javascripts/data.js"></script>
    <script src="/javascripts/map.js"></script>
  </head>

  <body>
    <!-- Navbar -->
    <div id="navbar">FirstMap</div>
    <!-- Navbar -->

    <!-- Current Position -->
    <div id="current">현재 위치</div>
    <!-- Current Position -->

    <!-- Search Bar -->
    <div id="search">
      <input
        type="text"
        class="search-input"
        placeholder="목적지를 입력해주세요"
      />
      <button class="search-button">검색</button>
    </div>
    <!-- Search Bar -->

    <!-- Info Box -->
    <div id="infoBox">
      <div id="infoTitle">현재날짜</div>
      <div id="infoContent">2021.01.13</div>
    </div>
    <!-- Info Box -->

    <!-- Naver Map -->
    <div id="map"></div>
    <!-- Naver Map -->
  </body>
</html>
