<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <title>SecondMap ::: Upload</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script src="https://unpkg.com/jquery"></script>
    <script
      type="text/javascript"
      src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=qudu899a61"
    ></script>
    <script src="/javascripts/MarkerClustering.js"></script>
    <script src="/javascripts/main.js"></script>
  </head>

  <body>
    <!-- Navbar -->
    <ul id="navbar">
      <li>
        <a href="/">SecondMap</a>
      </li>

      <li class="navbar-upload">
        <a class="active" href="/upload">Upload</a>
      </li>
    </ul>
    <!-- Navbar -->

    <!-- 지도 -->
    <div id="map"></div>
    <!-- 지도 -->
  </body>
</html>
